name: Continuous Integration

on: [push, workflow_dispatch]

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.4.1
        with:
          node-version: 15.14.0
      - uses: actions/checkout@master
      - uses: actions/cache@v2.1.6
        id: save-deps
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-build1-${{ env.cache-name }}-${{ hashFiles('**/package.json') }}
      - name: Install Dependencies
        if: steps.save-deps.outputs.cache-hit != 'true'
        uses: CultureHQ/actions-yarn@master
        with:
          args: --ignore-engines install
  test:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: "America/New_York"
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.4.1
        with:
          node-version: 15.14.0
      - uses: actions/checkout@master
      - uses: actions/cache@v2.1.6
        id: save-deps
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-build1-${{ env.cache-name }}-${{ hashFiles('**/package.json') }}
      - run: node --experimental-vm-modules node_modules/.bin/jest -i tests/index.spec.js